@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <div class="card" style="padding-top: 2rem">
            <img class="card-img-top" src='@Url.Content("~/Content/Images/JB2021.jpg")' alt="" />
            <div class="card-body">
                <h5 class="card-title">James Bond</h5>
                <p class="card-text">Coming soon</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="padding-top: 2rem">
            <img class="card-img-top" src='@Url.Content("~/Content/Images/CTA2.jpg")' alt="" />
            <div class="card-body">
                <h5 class="card-title">Coming 2 America</h5>
                <p class="card-text">Coming soon</p>
            </div>
        </div>
        
    </div>
    <div class="col-md-4">
        <div class="card" style="padding-top: 2rem">
            <img class="card-img-top" src='@Url.Content("~/Content/Images/TG.jpg")' alt="" />
            <div class="card-body">
                <h5 class="card-title">Top Gun: Maverick</h5>
                <p class="card-text">Coming soon</p>
            </div>
        </div>
    </div>
</div>