@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1>Movies</h1>
    @Html.ActionLink("New Movie", "New", "Movies", new {@class = "btn btn-primary"})
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Details", new {id = movie.Id})</td>
                <td>@movie.MovieType.Name</td>
            </tr>
        }

        </tbody>
    </table>
</div>