@model Vidly.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "ReadOnlyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1>Customers</h1>
    <table id="movies" class="table">
        <thead>
            <tr>
                <th>Only Admins can see customer list</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


